{% extends "base/base.html" %}

{% block title %}Application finished{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        Thank you for submitting your application to participate in jacobsHack!
    </h1>

    <div class="uk-text-lead">
        We will review your application and get back to you as soon as possible. 
        If you need to make any changes, you can make them on the portal page. 
        Until then, live long, #hackstrong. 
    </div>

    <div>
        <a href="/" class="uk-button uk-button-secondary uk-width-1-1">
            Continue to Portal
        </a>
    </div>
</article>
{% endblock %}