{% extends "base/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        Apply for JacobsHack!
    </h1>

    <div>

        <p class="uk-text-lead">
            jacobsHack! 2018 applications are now closed!
        </p>
    
        <!--
        <p class="uk-text-lead">
            The long awaited registration form for jacobsHack! 2018 is now open! 
        </p>

        <p>
            We are very excited to receive your applications. 
            Press <em>Apply now</em> now to get started. 
        </p>
        -->

        <div class="uk-margin uk-button-group">

            <!--
            <a href="{% url 'register' %}" class="uk-button uk-button-primary">
                Apply now!
            </a>
            -->

            <a href="{% url 'login' %}" class="uk-button uk-button-secondary">
                Login
            </a>
        </div>

    </div>
</article>
{% endblock %}