{% if not user.hacker.approval.approval %}
<div class="uk-alert uk-alert-warning" uk-alert>
    <h3>Application pending</h3>
    <p>
        Thank you for your submission to jacobsHack! 2018. 
        Your application is now under review; we will get in touch with you shortly.
    </p>
</div>

{% else %}
<div class="uk-alert uk-alert-warning" uk-alert>
    <h3>Congratulations, you've been accepted to participate in jacobsHack! 2018!</h3>
    <p>         
        We will get in touch with you with some important information. Looking forward to hacking with you!
    </p>
</div>
{% endif %}