{% load registry_display %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">My Academic Data</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <tbody>
                <tr>
                    <td>School</td>
                    <td>{{ user.hacker.academic.school|safe }}</td>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td>{{ user.hacker.academic|get_choice_field:"degree"|safe }}</td>
                </tr>
                <tr>
                    <td>Graduation Year</td>
                    <td>{{ user.hacker.academic|get_choice_field:"year"|safe }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'edit_academic' %}" class="uk-button uk-button-text">Edit Academic Data</a>
    </div>
</div>