{% load registry_display %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">My JacobsHack Application</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <tbody>
                <tr>
                    <td>Why do you want to come to JacobsHack?</td>
                    <td>
                        {{ user.hacker.application.whyJacobsHack|safe }}
                    </td>
                </tr>
                <tr>
                    <td>Is JacobsHack! your first Hackathon?</td>
                    <td>
                        {{ user.hacker.application.firstHackathon|print_boolean }}
                    </td>
                </tr>
                <tr>
                    <td>
                        What projects have you worked on? <br />
                        What have you built?
                    </td>
                    <td>
                        {{ user.hacker.application.whatHaveYouBuilt|safe }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'edit_application' %}" class="uk-button uk-button-text">Edit Application</a>
    </div>
</div>