{% load registry_display %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">My Data</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <caption>General Information</caption>
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>{{ user.hacker.firstName | safe }}</td>
                </tr>

                {% if user.hacker.middleName is not None %}
                    <tr>
                        <td>Middle Name</td>
                        <td>{{ user.hacker.middleName | safe }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <td>Last Name</td>
                    <td>{{ user.hacker.lastName|safe }}</td>
                </tr>

                <tr>
                    <td>Date Of Birth</td>
                    <td>{{ user.hacker.dob|date:"Y-m-d" }}</td>
                </tr>

                <tr>
                    <td>Gender</td>
                    <td>{{ user.hacker.gender|safe }}</td>
                </tr>

                <tr>
                    <td>Race</td>
                    <td>{{ user.hacker.race|safe }}</td>
                </tr>

                <tr>
                    <td>E-Mail</td>
                    <td>{{ user.hacker.email|safe }}</td>
                </tr>

                <tr>
                    <td>Phone Number</td>
                    <td>{{ user.hacker.phoneNumber|safe }}</td>
                </tr>
                
                <tr>
                    <td>Nationality</td>
                    <td>{{ user.hacker |get_choice_field:"nationality"|join:"\n"|safe }}</td>
                </tr>

                <tr>
                    <td>Country Of Residence</td>
                    <td>{{ user.hacker.countryOfResidence.name|safe }}</td>
                </tr>
            </tbody>
        </table>

        <table class="uk-table uk-table-small">
            <caption>Terms & Conditions</caption>
            <tbody>

                <tr>
                    <td>JacobsHack Terms & Conditions</td>
                    <td>{{ user.hacker.jacobsHackTerms|print_boolean }}</td>
                </tr>
                
                <tr>
                    <td>MLH Code Of Conduct</td>
                    <td>{{ user.hacker.mlhCodeOfConduct|print_boolean }}</td>
                </tr>

                <tr>
                    <td>MLH Contest Terms & Privacy Policy</td>
                    <td>{{ user.hacker.mlhContestTerms|print_boolean }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'edit' %}" class="uk-button uk-button-text">Edit General Information</a>
    </div>
</div>