{% load registry_display %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Organizational Details</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <tbody>
                <tr>
                    <td>T-Shirt Size</td>
                    <td>{{ user.hacker.organizational|get_choice_field:"shirtSize"|safe }}</td>
                </tr>
                <tr>
                    <td>Visa Needed</td>
                    <td>{{ user.hacker.organizational.needVisa|print_boolean }}</td>
                </tr>
                <tr>
                    <td>Travel Reimbursment</td>
                    <td>{{ user.hacker.organizational.needReimbursement|print_boolean }}</td>
                </tr>
                <tr>
                    <td>Dietary Requirements</td>
                    <td>{{ user.hacker.organizational.dietaryRequirements|safe }}</td>
                </tr>
                <tr>
                    <td>Organisational Comments</td>
                    <td>{{ user.hacker.organizational.comments|safe }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'edit_organizational' %}" class="uk-button uk-button-text">Edit Organizational Details</a>
    </div>
</div>