<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">My Social Media Links</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <tbody>
                {% if user.hacker.social.facebook %}
                    <tr>
                        <td>Facebook</td>
                        <td>{{ user.hacker.social.facebook|safe }}</td>
                    </tr>
                {% endif %}
                {% if user.hacker.social.twitter %}
                    <tr>
                        <td>Twitter</td>
                        <td>{{ user.hacker.social.twitter|safe }}</td>
                    </tr>
                {% endif %}
                {% if user.hacker.social.linkedin %}
                    <tr>
                        <td>LinkedIn</td>
                        <td>{{ user.hacker.social.linkedin|safe }}</td>
                    </tr>
                {% endif %}
                {% if user.hacker.social.instagram %}
                    <tr>
                        <td>Instagram</td>
                        <td>{{ user.hacker.social.instagram|safe }}</td>
                    </tr>
                {% endif %}
                {% if user.hacker.social.homepage %}
                    <tr>
                        <td>Homepage</td>
                        <td>{{ user.hacker.social.homepage|safe }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'edit_social' %}" class="uk-button uk-button-text">Edit Social Media Links</a>
    </div>
</div>